<!DOCTYPE html>
<html lang="zh-TW">
<head><meta charset="UTF-8"></head>
<body style="font-family: 'Noto Sans TC Medium', 'Microsoft JhengHei', sans-serif; line-height: 1.8; color: #333; padding: 20px;">

<p>您好</p>

<p>Project site : {{ site_name }}</p>

<p>附件為DREAMS申請書</p>

<p>附件為申請 DREAMS審核通過之通知供您參考</p>

<p>因為台電110/6/25新公告連線流程, 故附件需提供給客戶以利台電區處報竣時需求, Thank you</p>

<p>另外溫馨提醒 : 掛表當天須填寫"安裝自主檢查表"如附件, 之後需由貴司寄給 "台電區處規劃課" (掛表一個月內), thank you</p>

<p>由於DREAMS案場需要進行FW更新, 請於電表RS-485訊號線連接至資料收集器且網際網路已連線後, 請跟我司line客服通報(AUO line客服帳號ID：@auo.solarcs，友達能源售服中心)以利後續安排.</p>

<p>如有設定/綁定/上線等相關問題, 也請加入AUO line友達能源售服中心, 詢問相關資訊.</p>

<p>如有"安裝自主檢查表"填寫問題, 也請加入AUO line友達能源售服中心, 詢問相關資訊.</p>

<hr style="margin: 20px 0; border: none; border-top: 1px solid #ddd;">

<p>Dear ES sirs</p>

<p>請和客戶連繫，後續DREAMS 連線作業若OK，請通知我以利協助開權限給客戶，Thank you</p>

<p>以上. 謝謝.</p>

<hr style="margin: 20px 0; border: none; border-top: 1px solid #ddd;">

<p style="font-size: 12px; color: #666;">
=========================<br>
*提醒*<br>
變流器型號種類眾多<br>
台電dreams申請官網無法全部列上<br>
僅會放上熱門機種或是主型號<br>
以變流器 PV-110KH-U 為例<br>
台電dreams官網無此型號<br>
經查找確認只有主型號PV-125KH-U可選取<br>
故會直接選取放上主型號<br>
以 PV-10000S-U 為例<br>
台電dreams申請表並無該型號<br>
故需以它主型號為主申請<br>
就會填PV-15000S-U<br>
以PrimeVOLT PV-60000H-U為例<br>
台電dreams申請表並無該型號<br>
故需以它主型號為主申請<br>
就會填PV-60000T-U<br>
此為經台電總處確認的正確做法<br>
總處也有多次宣導區處<br>
如台電區處還有疑問，請區處直接洽台電總處，謝謝<br>
<br>
Dreams購買服務問題可洽LINE ID：@auoenergy<br>
Dreams案場相關問題可洽LINE ID：@auo.solarcs
</p>

</body>
</html>
